html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0e100f;
  color: #fffce1;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
}
