.chatRoomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-height: 40rem;
  max-height: 40rem;
}

.roomHeader {
  flex-shrink: 0;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 13px;
  overflow-y: auto;
  flex: 1;
}

.myMessage {
  align-self: flex-end;
  background-color: #8eff48;
  color: #0e100f;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  max-width: 50%;
}

.otherMessage {
  align-self: flex-start;
  background-color: #fffce1;

  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  max-width: 50%;
}

.inputContainer {
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
}
