.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.dicodinoTitle {
  font-family: "Comico";
}

.buttonsContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
  width: 55%;
}
