.button {
  border: none;
  outline: 1px solid #fffce1;
  outline-offset: 2px;
  background-color: transparent;
  color: #fffce1;
  cursor: pointer;
  height: 32px;
}

.button.primary {
  background-color: #8eff48;
  color: #0e100f;
}

.button.secondary {
  background-color: #fffce1;
  color: #0e100f;
}

.button.tertiary {
  background-color: transparent;
  color: #fffce1;
  border: 1px solid #fffce1;
}
