.categoryChoiceContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.categoryButton {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #8eff48;
  color: #0e100f;
  transition: background-color 0.3s ease;
}

