@font-face {
  font-family: "Comico";
  src: url("/fonts/comico/Comico-Regular.otf") format("truetype");
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  font-family: "Comico";
}

.headerContent {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.connectionStatus {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 1rem;
}
